<div id=":sn" class="a3s aXjCH m159bc4b41e938d6e">
    <div class="adM"></div>
    <div style="display:none;font-size:0;max-height:0;line-height:0;padding:0" class="adM"></div>
    <div class="adM"></div>
    <div style="background-color:#fff">
        <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%"
               id="m_-7993958797917060509background_table">
            <tbody>
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0" border="0" align="center" style="width:100%;max-width:600px"
                           class="m_-7993958797917060509device-width">
                        <tbody>
                        <tr>
                            <td style="font-size:1px;line-height:1px" colspan="1" height="45px">&nbsp;</td>
                        </tr>
                        <tr>
                            <td>
                                <div style="display:none;font-size:1px;color:#fff;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden">
                                    Verify your email address
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td width="100" align="center" height="80.08">
                                <div class="m_-7993958797917060509imgpop"><img
                                            src="http://www.turbointernational.com/skin/frontend/base/default/images/ti-logo_100x77.jpg"
                                            style="margin:0px 12px 0px 0px;display:block;border:none;outline:none;text-decoration:none;text-align:center;font-size:20px"
                                            title="Turbo" align="center" height="80.08" width="100" alt="Turbo" border="0"
                                            class="CToWUd"></div>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size:1px;line-height:1px" colspan="1" height="30px">&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0" border="0" align="center" style="width:100%;max-width:600px"
                           class="m_-7993958797917060509device-width">
                        <tbody>
                        <tr>
                            <td>
                                <table cellpadding="0" cellspacing="0" border="0" align="center">
                                    <tbody>
                                    <tr>
                                        <td style="font-size:1px;line-height:1px" colspan="3" height="1">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td class="m_-7993958797917060509hard-td-spacer" style="width:1px">
                                            <table cellpadding="0" cellspacing="0" border="0" style="width:1px"></table>
                                        </td>
                                        <td>
                                            <table cellpadding="0" cellspacing="0" border="0" align="center"
                                                   class="m_-7993958797917060509device-width-inner"
                                                   style="border:1px solid #bfc0cd;border-collapse:separate;border-radius:3px;width:100%;max-width:560px">
                                                <tbody>
                                                <tr>
                                                    <td style="font-size:1px;line-height:1px" colspan="3" height="30px">
                                                        &nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td class="m_-7993958797917060509soft-td-spacer"
                                                        style="width:45px;display:block">&nbsp;</td>
                                                    <td>
                                                        <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                            <tbody>
                                                            <tr class="m_-7993958797917060509tr-for-centering">
                                                                <td align="center" width="100%"
                                                                    style="font-family:Helvetica,arial,sans-serif;font-size:28px;color:#484a6f;font-weight:normal;text-align:center;line-height:30px">
                                                                    You are getting access ...
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Login: {{ email }}<b></b></td>
                                                            </tr>

                                                            <td>Password: {{ password }}<b></b></td>
                                                            </tr>
                                                            <tr>
                                                                <td style="font-size:1px;line-height:1px" colspan="1"
                                                                    height="30px">&nbsp;</td>
                                                            </tr>
                                                            <tr class="m_-7993958797917060509tr-for-centering">
                                                                <td align="center" width="100%" valign="middle">
                                                                    <div class="m_-7993958797917060509button-container">
                                                                        <table cellpadding="0" cellspacing="0"
                                                                               border="0" align="center">
                                                                            <tbody>
                                                                            <tr>
                                                                                <td height="40" align="center"
                                                                                    style="display:block;padding:2px;line-height:20px">
                                                                                    <table cellpadding="0"
                                                                                           cellspacing="0" border="0"
                                                                                           style="border:1px solid;border-color:#179dba;display:block;background-color:#1aafd0;border-radius:3px">
                                                                                        <tbody>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <a style="text-decoration:none"
                                                                                                   href=""
                                                                                                   target="_blank"
                                                                                                ><span
                                                                                                            style="color:#fff;font-size:16px;font-family:Helvetica,arial,sans-serif;text-decoration:none;text-align:center;line-height:32px;display:block;padding:0px 15px"><strong
                                                                                                                style="font-weight:600;font-family:'Helvetica Neue',Arial,sans-serif;white-space:nowrap">Verify your email address</strong></span></a>
                                                                                            </td>
                                                                                        </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td class="m_-7993958797917060509soft-td-spacer"
                                                        style="width:45px;display:block">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td style="font-size:1px;line-height:1px" colspan="3" height="30px">
                                                        &nbsp;</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td class="m_-7993958797917060509hard-td-spacer" style="width:1px">
                                            <table cellpadding="0" cellspacing="0" border="0" style="width:1px"></table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="font-size:1px;line-height:1px" colspan="3" height="1">&nbsp;</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size:1px;line-height:1px" colspan="1" height="15px">&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0" border="0" align="center" style="width:100%;max-width:600px"
                           class="m_-7993958797917060509device-width">
                        <tbody>
                        <tr>
                            <td>
                                <table cellpadding="0" cellspacing="0" border="0" align="center"
                                       class="m_-7993958797917060509device-width-inner"
                                       style="width:100%;max-width:560px">
                                    <tbody>
                                    <tr>
                                        <td class="m_-7993958797917060509soft-td-spacer"
                                            style="width:15px;display:block">&nbsp;</td>
                                        <td style="font-family:'Helvetica Neue',Arial,sans-serif;font-size:10px;color:#b4babd;line-height:18px;text-align:center"
                                            align="center">You have received this email because you requested an <a
                                                    style="color:#179dba;text-decoration:underline;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif"
                                                    href="http://{{ server }}" target="_blank"
                                            >{{server}}</a>
                                            account with this email address.<br>If you did not intend to, you can ignore
                                            this emai.<br>

                                            <a
                                                    href="http://{{ server }}">Continue to work with {{server}}</a>
                                        </td>
                                        <td class="m_-7993958797917060509soft-td-spacer"
                                            style="width:15px;display:block">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td style="font-size:1px;line-height:1px" colspan="1" height="15px">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td class="m_-7993958797917060509soft-td-spacer"
                                            style="width:15px;display:block">&nbsp;</td>
                                        <td style="font-family:Helvetica,arial,sans-serif;font-size:10px;color:#b4babd;text-align:center;line-height:18px"
                                            align="center">Having trouble with that button? Click this link
                                            : <br><a
                                                    style="color:#179dba;text-decoration:underline;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif"
                                                    href="http://{{server}}/#/customer/account/login/"
                                                    target="_blank"
                                            >Login</a></td>
                                        <td class="m_-7993958797917060509soft-td-spacer"
                                            style="width:15px;display:block">&nbsp;</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size:1px;line-height:1px" colspan="1" height="15px">&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0" border="0" align="center" style="width:100%;max-width:600px"
                           class="m_-7993958797917060509device-width">
                        <tbody>
                        <tr>
                            <td>
                                <img src="https://ci4.googleusercontent.com/proxy/URcwSk2xMKnjjZ7eQJ7_0qYrBzYsLP4WLiYEaap6-wWWcl9z3wJJ28bpzqQhS_d8njrMrR4KU1nyIfz7TpIy4-uPJVxAQnZ_29sNZfzBNPJy5LjDRbsMwq7OMhv50K5QCfSF5kl1rlzvUSSh9op-wltCNYT0fIL7AQZG9UbdgOyAc2MihW0zEy_smXY4kMVXwSrtsEenta2CUhXDQ3ZRJxoXNnMj1_oQzqExXRYbcr49AMC7RoLnLWSrE-yn--t5XtK3-Yn6o8whTNV8EmYRw8TOSIPnKtPZx7pd_t9xWSq8C0EqDawSjiKKwovKTTz_Ck5a8BPgrCzdss7ahE9shpKOOyHmTfIw9CDwsH8zKaAo8vJ1kf3UYMflIa7P7YmYjA737MBAEpg8dj7LgckzIQp9nHYLQK5zXKMhCKB_VYw3sA=s0-d-e1-ft#https://app.asana.com/-/open?se=%7B%22name%22%3A%22AsanaSignup-EmailOpened%22%2C%22user%22%3A251315755813083%2C%22invite%22%3A251315755524250%2C%22registration_type%22%3A%22normal%22%2C%22email_creation_time%22%3A1484922763660%7D&amp;hash=0fc5e82bbc8e6058b241774cdeb9f2c76108fa05d1ca423a7004feef7f466cc9"
                                     alt="" height="1" width="1" class="CToWUd"></td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>